html {
  font-size: 62.5%;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
  max-width: 120rem;
  margin: 0 auto;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

span:not(.popular),
p {
  color: #808484;
  line-height: 1.4rem;
}

/* -------------HEADER---------------------------- */

header {
  padding: 1rem 0;
  border-bottom: 1px solid rgb(211, 208, 208);
}

header img {
  width: 16rem;
}

h1,
h2,
h3 {
  color: #2e3333;
}

h1 {
  font-size: 3.2rem;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 2.5rem;
}

h3 {
  font-size: 18px;
}

/* -------------Presentation---------------------------- */

#presentation {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  gap: 6rem;
  height: fit-content;
}

#presentation > div {
  display: flex;
  height: 20rem;
  flex-direction: column;

  gap: 4rem;
}

#presentation p {
  font-size: 1.9rem;
  line-height: 2.6rem;
  color: #868a8a;
}

#presentation img {
  height: 20rem;
  width: 35rem;
  border-radius: 15px;
}

/* -------------MENU---------------------------- */

#menu {
  padding-top: 3rem;
  background-color: #e7e3cb;
  display: flex;
}

/* -------------categories---------------------------- */

.categories {
  width: 83rem;
}

.categories img {
  width: 13rem;
  height: 13rem;
  border-radius: 15px;
}

.meal p {
  font-size: 1.4rem;
  height: 3rem;
  overflow: hidden;
}

.meals {
  display: flex;
  flex-wrap: wrap;
  gap: 1.9rem;
  margin-bottom: 5rem;
}

.meal {
  background-color: white;
  border-radius: 15px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  gap: 3.5rem;
  width: 40rem;
  height: 16rem;
  padding: 0 1.5rem;
}

.meal > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.price {
  font-size: 1.7rem;
  margin-right: 1.6rem;
}

.popular {
  color: #ff8000;
  font-size: 1.2rem;
  font-weight: bold;
}

/* -------------shop-bag---------------------------- */

.shop-bag {
  width: 35rem;
}

/* ------------ media query---------------------------- */

/* ------------ media query 1124px---------------------------- */

@media (max-width: 1024px) {
  .meal {
    width: 100%;
  }
}

/* ------------ media query 890px---------------------------- */

@media (max-width: 890px) {
  #presentation {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    padding: 0;
    margin-bottom: 4rem;
  }

  #presentation img {
    width: 100%;
    border-radius: 0;
  }

  #presentation > div {
    padding: 2rem;
  }
  h1 {
    font-size: 2.4rem;
  }

  #presentation p {
    font-size: 1.6rem;
  }
}

/* ------------ media query 770px---------------------------- */

@media (max-width: 770px) {
  #menu {
    flex-direction: column;
  }

  .meals {
    width: 100vw;
  }

  .meal {
    width: calc(100% - 1.5rem);
  }
}
